.app {
    text-align: center;
}

.section {
    padding: 65px 0 55px;
    line-height: 30px;
    font-size: 15px;
    white-space: nowrap;
    height: 300px;

    .second {
        color: #8898aa;
    }
}
