.center {
    text-align: center;
}

.numbers {
    padding-top: 30px;
    line-height: 30px;
    font-size: 15px;
    white-space: nowrap;
    height: 300px;

    .second {
        color: #8898aa;
    }
}
